@tailwind base;
@tailwind components;
@tailwind utilities;

table { border-collapse: collapse; }
tr { border: none; }
td {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
th {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
